.header{
    border: 2px solid black;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header__logo{
    display: flex;
}

.header__logo-text{
    margin-top: 12px;
    margin-left: 8px;
    font-size: 24px;
    font-weight: 600;
}

li{
    list-style: none;
}

.header__navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__navbar-menu{
    display: flex;
    align-items: center;
}

.nav-branding{
    font-size: 2rem;
}

.header__navbar-link{
    transition: 0.5s ease;
    color: black;
}

.header__hamburger{
    display: none;
    cursor: pointer;
}
   
.header__hamburger-bar{
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: #262626;
}

.header__navbar-item{
    font-size: 20px;
    font-weight: 500;
    padding: 0 1.5rem;
}

@media(max-width: 830px){
  .header__hamburger-bar{
      display: block;
  }
  .header__hamburger{
      display: block;
  }
  .header__hamburger.active .header__hamburger-bar:nth-child(2){
      opacity: 0;
  }
  .header__hamburger.active .header__hamburger-bar:nth-child(1){
      transform: rotate(45deg) translateY(11.5px); 
  }  
  .header__hamburger.active .header__hamburger-bar:nth-child(3){
      transform: rotate(-45deg) translateY(-11.5px); 
  }
  .header__navbar-menu{
      position: fixed;
      right: -100%;
      top: 70px;
      flex-direction: column;
      width: 100%;
      text-align: center;
      background: white;
      transition: 0.3s;
  }
  .header__navbar-item{
      padding: 1.5rem 0;
  }
      
  .header__navbar-menu.active{
      right: 0;
  }
      
}

